
.gitignore
Training/terijon/staging-terijon.com.inc.def
Training/terijon/terijon.com.def
Training/laravel-realworld-example-app
Training/laravel-realworld-example-app
Training/React/node_modules/.package-lock.json
Training/React/node_modules/.bin/loose-envify
Training/React/node_modules/.bin/loose-envify.cmd
Training/React/node_modules/.bin/loose-envify.ps1
Training/React/node_modules/@types/prop-types/index.d.ts
Training/React/node_modules/@types/prop-types/LICENSE
Training/React/node_modules/@types/prop-types/package.json
Training/React/node_modules/@types/prop-types/README.md
Training/React/node_modules/@types/react/experimental.d.ts
Training/React/node_modules/@types/react/global.d.ts
Training/React/node_modules/@types/react/index.d.ts
Training/React/node_modules/@types/react/jsx-dev-runtime.d.ts
Training/React/node_modules/@types/react/jsx-runtime.d.ts
Training/React/node_modules/@types/react/LICENSE
Training/React/node_modules/@types/react/next.d.ts
Training/React/node_modules/@types/react/package.json
Training/React/node_modules/@types/react/README.md
Training/React/node_modules/@types/scheduler/index.d.ts
Training/React/node_modules/@types/scheduler/LICENSE
Training/React/node_modules/@types/scheduler/package.json
Training/React/node_modules/@types/scheduler/README.md
Training/React/node_modules/@types/scheduler/tracing.d.ts
Training/React/node_modules/csstype/index.d.ts
Training/React/node_modules/csstype/index.js.flow
Training/React/node_modules/csstype/LICENSE
Training/React/node_modules/csstype/package.json
Training/React/node_modules/csstype/README.md
Training/React/node_modules/js-tokens/CHANGELOG.md
Training/React/node_modules/js-tokens/index.js
Training/React/node_modules/js-tokens/LICENSE
Training/React/node_modules/js-tokens/package.json
Training/React/node_modules/js-tokens/README.md
Training/React/node_modules/loose-envify/cli.js
Training/React/node_modules/loose-envify/custom.js
Training/React/node_modules/loose-envify/index.js
Training/React/node_modules/loose-envify/LICENSE
Training/React/node_modules/loose-envify/loose-envify.js
Training/React/node_modules/loose-envify/package.json
Training/React/node_modules/loose-envify/README.md
Training/React/node_modules/loose-envify/replace.js
Training/React/node_modules/object-assign/index.js
Training/React/node_modules/object-assign/license
Training/React/node_modules/object-assign/package.json
Training/React/node_modules/object-assign/readme.md
Training/React/node_modules/prop-types/checkPropTypes.js
Training/React/node_modules/prop-types/factory.js
Training/React/node_modules/prop-types/factoryWithThrowingShims.js
Training/React/node_modules/prop-types/factoryWithTypeCheckers.js
Training/React/node_modules/prop-types/index.js
Training/React/node_modules/prop-types/LICENSE
Training/React/node_modules/prop-types/package.json
Training/React/node_modules/prop-types/prop-types.js
Training/React/node_modules/prop-types/prop-types.min.js
Training/React/node_modules/prop-types/README.md
Training/React/node_modules/prop-types/lib/has.js
Training/React/node_modules/prop-types/lib/ReactPropTypesSecret.js
Training/React/node_modules/react/build-info.json
Training/React/node_modules/react/index.js
Training/React/node_modules/react/jsx-dev-runtime.js
Training/React/node_modules/react/jsx-runtime.js
Training/React/node_modules/react/LICENSE
Training/React/node_modules/react/package.json
Training/React/node_modules/react/README.md
Training/React/node_modules/react/cjs/react-jsx-dev-runtime.development.js
Training/React/node_modules/react/cjs/react-jsx-dev-runtime.production.min.js
Training/React/node_modules/react/cjs/react-jsx-dev-runtime.profiling.min.js
Training/React/node_modules/react/cjs/react-jsx-runtime.development.js
Training/React/node_modules/react/cjs/react-jsx-runtime.production.min.js
Training/React/node_modules/react/cjs/react-jsx-runtime.profiling.min.js
Training/React/node_modules/react/cjs/react.development.js
Training/React/node_modules/react/cjs/react.production.min.js
Training/React/node_modules/react/umd/react.development.js
Training/React/node_modules/react/umd/react.production.min.js
Training/React/node_modules/react/umd/react.profiling.min.js
Training/React/node_modules/react-dom/build-info.json
Training/React/node_modules/react-dom/index.js
Training/React/node_modules/react-dom/LICENSE
Training/React/node_modules/react-dom/package.json
Training/React/node_modules/react-dom/profiling.js
Training/React/node_modules/react-dom/README.md
Training/React/node_modules/react-dom/server.browser.js
Training/React/node_modules/react-dom/server.js
Training/React/node_modules/react-dom/server.node.js
Training/React/node_modules/react-dom/test-utils.js
Training/React/node_modules/react-dom/cjs/react-dom-server.browser.development.js
Training/React/node_modules/react-dom/cjs/react-dom-server.browser.production.min.js
Training/React/node_modules/react-dom/cjs/react-dom-server.node.development.js
Training/React/node_modules/react-dom/cjs/react-dom-server.node.production.min.js
Training/React/node_modules/react-dom/cjs/react-dom-test-utils.development.js
Training/React/node_modules/react-dom/cjs/react-dom-test-utils.production.min.js
Training/React/node_modules/react-dom/cjs/react-dom.development.js
Training/React/node_modules/react-dom/cjs/react-dom.production.min.js
Training/React/node_modules/react-dom/cjs/react-dom.profiling.min.js
Training/React/node_modules/react-dom/umd/react-dom-server.browser.development.js
Training/React/node_modules/react-dom/umd/react-dom-server.browser.production.min.js
Training/React/node_modules/react-dom/umd/react-dom-test-utils.development.js
Training/React/node_modules/react-dom/umd/react-dom-test-utils.production.min.js
Training/React/node_modules/react-dom/umd/react-dom.development.js
Training/React/node_modules/react-dom/umd/react-dom.production.min.js
Training/React/node_modules/react-dom/umd/react-dom.profiling.min.js
Training/React/node_modules/react-google-login/.eslintrc
Training/React/node_modules/react-google-login/.release-it.json
Training/React/node_modules/react-google-login/index.d.ts
Training/React/node_modules/react-google-login/LICENSE.txt
Training/React/node_modules/react-google-login/package.json
Training/React/node_modules/react-google-login/README.md
Training/React/node_modules/react-google-login/.github/workflows/publish-npm.yml
Training/React/node_modules/react-google-login/.github/workflows/publish-storybook.yml
Training/React/node_modules/react-google-login/.github/workflows/test.yml
Training/React/node_modules/react-google-login/.storybook/addons.js
Training/React/node_modules/react-google-login/.storybook/config.js
Training/React/node_modules/react-google-login/.storybook/webpack.config.js
Training/React/node_modules/react-google-login/__test__/google-login.test.js
Training/React/node_modules/react-google-login/__test__/google-logout.test.js
Training/React/node_modules/react-google-login/__test__/__snapshots__/google-login.test.js.snap
Training/React/node_modules/react-google-login/__test__/__snapshots__/google-logout.test.js.snap
Training/React/node_modules/react-google-login/demo/app.js
Training/React/node_modules/react-google-login/demo/index.html
Training/React/node_modules/react-google-login/demo/index.js
Training/React/node_modules/react-google-login/dist/google-login.js
Training/React/node_modules/react-google-login/src/button-content.js
Training/React/node_modules/react-google-login/src/google-login.js
Training/React/node_modules/react-google-login/src/google-logout.js
Training/React/node_modules/react-google-login/src/icon.js
Training/React/node_modules/react-google-login/src/index.js
Training/React/node_modules/react-google-login/src/load-script.js
Training/React/node_modules/react-google-login/src/remove-script.js
Training/React/node_modules/react-google-login/src/use-google-login.js
Training/React/node_modules/react-google-login/src/use-google-logout.js
Training/React/node_modules/react-google-login/stories/google-login-notes.md
Training/React/node_modules/react-google-login/stories/google-login.stories.js
Training/React/node_modules/react-google-login/stories/google-logout-notes.md
Training/React/node_modules/react-google-login/stories/google-logout.stories.js
Training/React/node_modules/react-google-login/webpack/uglify.json
Training/React/node_modules/react-google-login/webpack/webpack.config.dev.js
Training/React/node_modules/react-google-login/webpack/webpack.config.prod.js
Training/React/node_modules/react-is/build-info.json
Training/React/node_modules/react-is/index.js
Training/React/node_modules/react-is/LICENSE
Training/React/node_modules/react-is/package.json
Training/React/node_modules/react-is/README.md
Training/React/node_modules/react-is/cjs/react-is.development.js
Training/React/node_modules/react-is/cjs/react-is.production.min.js
Training/React/node_modules/react-is/umd/react-is.development.js
Training/React/node_modules/react-is/umd/react-is.production.min.js
Training/React/node_modules/scheduler/build-info.json
Training/React/node_modules/scheduler/index.js
Training/React/node_modules/scheduler/LICENSE
Training/React/node_modules/scheduler/package.json
Training/React/node_modules/scheduler/README.md
Training/React/node_modules/scheduler/tracing-profiling.js
Training/React/node_modules/scheduler/tracing.js
Training/React/node_modules/scheduler/unstable_mock.js
Training/React/node_modules/scheduler/unstable_post_task.js
Training/React/node_modules/scheduler/cjs/scheduler-tracing.development.js
Training/React/node_modules/scheduler/cjs/scheduler-tracing.production.min.js
Training/React/node_modules/scheduler/cjs/scheduler-tracing.profiling.min.js
Training/React/node_modules/scheduler/cjs/scheduler-unstable_mock.development.js
Training/React/node_modules/scheduler/cjs/scheduler-unstable_mock.production.min.js
Training/React/node_modules/scheduler/cjs/scheduler-unstable_post_task.development.js
Training/React/node_modules/scheduler/cjs/scheduler-unstable_post_task.production.min.js
Training/React/node_modules/scheduler/cjs/scheduler.development.js
Training/React/node_modules/scheduler/cjs/scheduler.production.min.js
Training/React/node_modules/scheduler/umd/scheduler-tracing.development.js
Training/React/node_modules/scheduler/umd/scheduler-tracing.production.min.js
Training/React/node_modules/scheduler/umd/scheduler-tracing.profiling.min.js
Training/React/node_modules/scheduler/umd/scheduler-unstable_mock.development.js
Training/React/node_modules/scheduler/umd/scheduler-unstable_mock.production.min.js
Training/React/node_modules/scheduler/umd/scheduler.development.js
Training/React/node_modules/scheduler/umd/scheduler.production.min.js
Training/React/node_modules/scheduler/umd/scheduler.profiling.min.js
Training/React/package-lock.json
Training/React/package.json
Training/laravel-realworld-example-app
Training/.vscode/settings.json
